.card {
    background-color: #0f172b;
    width: 300px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.card p {
    color: white;
    opacity: 70%;
    font-size: medium;
    padding: 10px;
    margin: 8px;
}

.card h2 {
    color: white;
    opacity: 70%;
    font-size: x-large;
    font-weight: bold;
    /* text-align: center; */
    margin-left: 15px;
}

.image {
    position: relative;
    width: 300px;
}

.image img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 300px;
}

.like-button button {
    position: absolute;
    background-color: #fff;
    right: 2%;
    width: 40px;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}