.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: conic-gradient(#0000 10%, #766DF4);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: s3 1s infinite linear;
}

@keyframes s3 {
    to {
        transform: rotate(1turn)
    }
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

p {
    font-weight: 500;
    font-size: large;
    color: rgb(0, 0, 43);
}